@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mda {
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 76% calc(100% - 4vh), 0 100%);
  }
  .line {
    width: 100px;
    height: 1px;
    background-color: black;
  }
  .mnm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
  }
  .mm {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-height: 100%;
  }
}
