@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

@layer components {
  .mda {
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 76% calc(100% - 4vh), 0 100%);
  }
  .line {
    width: 100px;
    height: 1px;
    background-color: black;
  }
}
